<h1 align="center">Publication</h1>  
<div align="center">
  <a href="http://www.blamelessci.com" target="_blank"><img alt="Blameless Continuous Integration" src="/images/cover_blamelessci_3d.png" width="144"/></a>
</div>

<hr/>

{% include _subscription_form.html %}

<hr/>

<h1 align="center">Badges</h1>  
<div align="center">
  <img src="/images/KMP.png"/>
  <img src="/images/management3_0_badge.png" width="144"/>
  <img src="/images/ICP-ACC.png" width="144"/>
  <img src="/images/CKC.png"/>
  <img src="/images/CSPSeal.png"/>
  <img src="/images/SAFe_Agilist.png"/>
  <img src="/images/CSM_Seal.png"/>
</div>
